<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Jorge Nuevo's Portfolio</title>
  <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=view&id=1eSzX4X1BLzVuTJBLJi8Qol17VSYr09gr">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img src="https://drive.google.com/uc?export=view&id=1eSzX4X1BLzVuTJBLJi8Qol17VSYr09gr" alt="BUNNY LOGO" width="60px" height="60px">
    </a>
  </div>
  <h1>So, who am I?</h1>
  <p>This page is currently unfinished due to delays from my personal artist (girlfriend).</p>
  <footer>
    <p> 
        <a href="https://www.linkedin.com/in/jorge-nuevo-ramos/" target="_blank" rel="noopener noreferrer"> LinkedIn</a> |
        <a href="https://github.com/JNuevo-LS/Projects" target="_blank" rel="noopener noreferrer"> github</a> |
        <a href="https://fiu.joinhandshake.com/stu/users/49185040" target="_blank" rel="noopener noreferrer"> Handshake</a>
        | jnuev004@fiu.edu | 786-597-0761
    </p>
  </footer>
</body>    

