<!DOCTYPE html>
<html lang="en-US">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Jorge Nuevo's Portfolio</title>
  <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=view&id=1eSzX4X1BLzVuTJBLJi8Qol17VSYr09gr">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img src="https://drive.google.com/uc?export=view&id=1eSzX4X1BLzVuTJBLJi8Qol17VSYr09gr" alt="BUNNY LOGO" width="60px" height="60px">
    </a>
  </div>
  <div class = "content"> 
    <div class = 'column middle'>
      <img src ="https://cdn.pixabay.com/photo/2020/07/10/05/16/binary-5389555_1280.png" 
      onerror="this.onerror=null;this.src='https://drive.google.com/uc?export=view&id=1HUG60NZZ0uRd5XvlsrvpPtM314HzVlfs';" alt = 'If you see this the background image has not loaded' draggable="false">
      <h1>Hey, I'm Jorge</h1>
      <div class="container">
        <div class="typed-out">
          <h2>I love programming</h2>
        </div>
        <br>
        <br>
      </div>
      <p>  
        Every day, I wake up excited to be able to expand my knowledge.
        <br>
        The endless road ahead, filled with equally vast opportunities,
        <br>
        to me is a challenge that invigorates me to work harder.
      </p>
      <p>
        My greatest passions lay in the pursuit of Artificial Intelligence
        <br>
        advancements and the myriad applications of this world-shaking technology.
      </p>
      <p>
        This is just the start of my journey, and I wish to be able to
        <br>
        show you exactly what I can do.
      </p>
      <br>
      <p>
        Interested? Contact me however you're comfortable using any of the methods below!
        <br>
        Not convinced? Take a look at my work and see for yourself.
      </p>
    </div>
  </div> 
  <div class = 'column side'>
    <p><a href='/aboutme'> About Me</a></p>
    <p><a href="/list">Projects</a></p>
    <p><a href="https://docs.google.com/document/d/1tTtJDfMkTZrcORvv9XpdaCbCncpXfuas/edit?usp=sharing&ouid=108256949752524620193&rtpof=true&sd=true" target="_blank" rel="noopener noreferrer"> Resume </a></p>
  </div>
  <div class = 'container'>
    <footer>
      <p> <a href="https://www.linkedin.com/in/jorge-nuevo-ramos/" target="_blank" rel="noopener noreferrer"> LinkedIn</a> |
          <a href="https://github.com/JNuevo-LS/Projects" target="_blank" rel="noopener noreferrer"> github</a> |
          <a href="https://fiu.joinhandshake.com/stu/users/49185040" target="_blank" rel="noopener noreferrer"> Handshake</a>
          | jnuev004@fiu.edu | 786-597-0761
      </p>
    </footer>
  </div>
</body>
</html>
